{% extends 'dashboard/base.html' %} {% load static %} {%block head%}
{%endblock%} {% block context %}
<!-- Main content -->
<div class="content-wrapper">
  <br />
  <section class="content">
    <div class="">
      <div class="card">
        <div class="card-header">Form creation instructions</div>
        <div class="card-body text-secondary">
          <ul>
            <li class="list-item">
              Understanding Terms

              <ul>
                <li>
                  <b><u>Sections</u></b
                  >: Sections are the groups that contains different rows and
                  columns for the form
                </li>
                <li>
                  <b><u>Rows</u></b
                  >: Rows are the groups that contains different fields
                </li>
                <li>
                  <b><u>Fields</u></b
                  >: Fields are different form elements eg. Text , Date , Time ,
                  Date Time, Text Area, Select, Checkbox,Number etc
                </li>

                <li>
                  <b><u>Option Values for checkbox and select</u></b
                  >: While creating options for checkbox or select please type
                  the input in key/value,key/value format eg.
                  counselor1/101,counselor2/102,counselor3/103
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="card card-secondary">
        <div class="card-header">Start creating a form</div>
        <div class="card-body">
          <form method="POST">
            {%csrf_token%}
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Form Name"
              />
            </div>
            <div class="form-group">
              <label>Title</label>
              <input
                type="text"
                name="title"
                class="form-control"
                placeholder="Title"
              />
            </div>
            <div class="form-group">
              <label>Description</label>
              <input
                type="text"
                name="description"
                class="form-control"
                placeholder="Description"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-outline-secondary">
                Next
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
