{%extends 'dashboard/base.html'%} {%block context%}
<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="card m-4">
        <div class="card-header col-md">
          <h3 class="row card-title">Data Table</h3>

          <div class="card-tools row">
            <div class="input-group input-group-sm" style="width: 200px">
              <input
                type="text"
                name="table_search"
                class="form-control float-right"
                placeholder="Search"
              />

              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
            <div class="filters d-flex align-items-center">
              {%for field in fields%} {%if field.type == 'select'%}
              <div class="input-group input-group-sm d-flex flex-col">
                <select class="form-control">
                  {%for option in field.options%} {%for option_name in option%}
                  <option>{{option_name}}</option>
                  {%endfor%} {%endfor%}
                </select>
              </div>
              {%elif field.type == 'date'%}
              <div class="input-group input-group-sm">
                <input type="date" class="form-control" />
              </div>

              {%endif%} {%endfor%}
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                {%for header in fields%}
                <th>{{header.title}}</th>
                {%endfor%}
              </tr>
            </thead>
            <tbody>
              {%for row in data%}
              <tr>
                {%for data in row%} {% if data|length > 1 %}
                <td>{%for d in data%} {{d}}, {%endfor%}</td>
                {%else%}
                <td>{%for d in data%} {{d}} {%endfor%}</td>
                {%endif%} {%endfor%}
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
{%endblock%}
