{%extends 'dashboard/base.html'%} 
{%load static%}
{%block context%}

<div class="row content-wrapper">
  <div class="container">
    <div class="d-flex flex-column">
      <div class="card m-2">
        <div class="card-header">Data Import Form</div>
        <div class="card-body">
          <form method="post" id="data-import-form">
            {%csrf_token%}
            <div class="form-group">
              <label>CSV File</label>
              <input
                class="form-control"
                id="data-file"
                type="file"
                accept=".csv"
              />
            </div>
            <div class="form-group">
              <button
                id="import-btn"
                type="submit"
                id="confirm_btn"
                class="btn btn-primary"
              >
                <i class="fa fa-save m-2"></i>Import
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="card m-2" id="field-mapper">
        <div class="card-header">Field Mapping </div>
        <div
          class="card-body"
          id="field-mapping-body"
          style="height: 50vh; overflow: scroll"
        >
       <div class="d-flex justify-content-center" id="empty-icon">
        <img src="https://theyouthproject.in/static/media/empty_data_set.88c7d759.png"  height="50%" width="50%" draggable="false"/>
       </div>
      </div>
      </div>
      </div>
      <div class="card m-2" id="table-data">
        <div class="card-header d-flex  justify-content-between">File Data <button id="data-submission-btn" class="btn btn-success btn-sm">Import</button></div>
        <div
          class="card-body col"
          id="table-data-body"
          style="height: 50vh; overflow: scroll"
        >
        <div class="d-flex justify-content-center" id="empty-icon">
          <img src="https://theyouthproject.in/static/media/empty_data_set.88c7d759.png"  height="50%" width="50%" draggable="false"/>
         </div>
      </div>
      </div>
    </div>
  </div>
  <script src="{% static '/js/form/dataImport.js' %}"></script>
  <script>
    let formId = '{{form.id}}'
    function dataImportHandler (event) {
      event.preventDefault();
      let file = document.getElementById("data-file")?.files[0];
      Papa.parse(file, {
        complete: function (results) {
          parsedData = results.data;
          const keys = parsedData[0];
          if (parsedData[0].length > 0){
            document.getElementById("field-mapping-body").innerHTML = ''
          }
          keys.forEach((key, index, keys) => {
            document.getElementById("field-mapping-body").innerHTML += `
              <div class='row form-group d-flex'>
                <div width="50%">${key}</div>
                <select onchange="onSelect(this,${index})" class='form-control'>
                  <option value="None">Select An Option</option>
                  {%for f in fields%}
                  <option value={{f.id}}>{{f.title}}</option>
                  {%endfor%}
                </select>
              </div>
              `;
          });
        },
      });
    }
    function prepareData() {
      const preparedData = [];
      const data = [...parsedData];
      const mapKeys = data[0];
      const dataToPrepare = data.filter((d) => d != mapKeys);
    
      dataToPrepare.forEach((item, index, array) => {
        const formData = [];
        mapKeys.forEach((mapItem, index, array) => {
          console.log(typeof mapItem, mapItem);
          if (typeof mapItem == "number") {
            const finalObj = {
              field: mapItem,
              array_answer: [item[index]?.split(",")],
              form: "{{form}}",
              section: "{{section}}",
              submission: "",
            };
            formData.push(finalObj);
          }
        });
        preparedData.push(formData);
      });
      return preparedData;
    }
    dataImportForm.addEventListener("submit",dataImportHandler );


  </script>
</div>
{%endblock%}
