{%extends 'dashboard/base.html'%} {%block head%}
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
/>

{%endblock%} {%block context%}

<div class="content-wrapper">
  <br />
  <section class="content">
    <form method="GET">
      <div class="card m-2">
        <div class="card-header">
          <b>Data Table </b>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-lg-12">
              <div class="row">
                <div class="col col-lg-12">
                  <div class="row">
                    <div class="col">
                      <label>From</label>
                      <input
                        type="date"
                        placeholder="from"
                        value="{{from_date}}"
                        class="form-control"
                        name="from_date"
                        required
                      />
                    </div>
                    <div class="col">
                      <label>To</label>
                      <input
                        type="date"
                        value="{{to_date}}"
                        class="form-control"
                        name="to_date"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="col col-lg-12">
            <div class="row">
              {%for filter in filters%}
              <div class="col">
                <label>{{filter.filter.title}}</label>
                <select name="field_{{filter.filter.id}}" class="form-control">
                  <option value="None">Select A Value</option>
                  {%for option in filter.options%}
                  <option value="{{option.value}}">{{option.key}}</option>
                  {%endfor%}
                </select>
              </div>

              {%endfor %}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="float-right btn btn-primary">Reload Table</button>
        </div>
      </div>
    </form>
    <div class="row card p-4 m-2">
      <div class="col-12">
        <div class="">
          <div class="float-right">
            <div class="row">
              <input
                type="search"
                name="search_term"
                class="col form-control"
                placeholder="Search Term"
              />
              &nbsp;
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
          <!-- /.card-header -->

          <div class="card-body table-responsive p-0">
            <table id="data-table" class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Date</th>
                  {%for header in headers%}
                  <th>{{header.title}}</th>
                  {%endfor%}
                </tr>
              </thead>
              <tbody>
                {%for answer in answers%}
                <tr>
                  <td>{{answer.submission.date }}</td>
                  {%for field_answer in answer.answers%}
                  <td>{{field_answer}}</td>
                  {%endfor%}
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>

          <!-- /.card-body -->
        </div>
        {%if submissions%}
        <!---->
        <div class="d-flex">
          {%if submissions.has_next%}
          <div class="">
            <a
              href="?{{params}}&page={{submissions.next_page_number}}"
              class="btn btn-sm btn-secondary"
              >Next</a
            >
          </div>
          {%else%}
          <div class=""><a class="btn btn-sm btn-disabled">Next</a></div>
          {%endif%}
          <!---->
          {%if submissions.has_previous%}
          <div class="">
            <a
              href="?{{params}}&page={{submissions.previous_page_number}}"
              class="btn btn-sm btn-secondary"
              >Prev</a
            >
          </div>
          {%else%}
          <div class=""><a class="btn btn-s, btn-disabled">Prev</a></div>
          {%endif%}
        </div>
        {%endif%}
        <!-- /.card -->
      </div>
      <br />
    </div>
  </section>
</div>
<!-- jQuery (must be included before DataTables) -->

<!-- DataTables JS -->
{%block footer%}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
 

<script>
  $(document).ready(function () {
    $("#data-table").DataTable({
      paging: false,
      lengthChange: true,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: true,
      responsive: true,
      buttons: ["csv", "excel", "pdf"],
    });
  });
</script>
{%endblock%} {%endblock%}
