{%extends 'users/base.html'%} {%block context%}

<div class="container" >
    <div class="card p-4 m-4">
    <div class="card-header bg-secondary rounded" role="button">
        EOP | {{form.title}}
    </div>

  <form  method="POST" action="{%url 'public_form_view' id=id%}" >
{%csrf_token%}
  {%for section in form.sections%}
  <div class="rounded border mt-2 p-3 ">
    {{section.title}}
    <hr/>
    {%for row in section.rows%}
    <div class="row d-flex flex-wrap">
      {%for field in row.fields%} {%if field.input_type == 'select'%} 
      <div class="form-group col-md">
          <label>{{field.title}}</label>
          <select name="{{field.id}}-{{section.id}}-{{form.id}}" id="cars" class="form-control" required>
            {%for choice in field.choices%}
            {%for c in choice%}
            <option value="{{c}}">{{c}}</option>
            {%endfor%}
            {%endfor%}
          </select>
        </div>
        {% elif field.input_type == 'checkbox' %}
        <div class="form-group col-md">
            <label>{{field.title}}</label>
            <div class="row">
            {%for choice in field.choices%}
                {%for ch in choice%}
                <div class="col-md-3"> 
                    <input class type="checkbox" id="coding" name="{{field.id}}-{{section.id}}-{{form.id}}" value="{{ch}}"/>
                    <span>{{ch}}</span>
                    </div>
                {%endfor%}
            {%endfor%}
            </div>
                </div>
        {%else%}       
        <div class="form-group col-md">
            <label>{{field.title}}</label>
            <input type="{{field.input_type}}" name="{{field.id}}-{{section.id}}-{{form.id}}"  placeholder="{{field.placeholder}}" class="form-control w-100" required/>
          </div>
          {%endif%} {%endfor%}
        </div>
        {%endfor%}
      </div>
      {%endfor%}
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </form>
</div>
</div>
{%endblock%}
