{%extends 'users/base.html'%} {%block context%}
<div class="container card m-5 p-5">
  <h5>{{form.title}}</h5>
  {%for section in form.sections%}
  <div class="rounded border mt-2 p-2">
    {{section.title}} {%for row in section.rows%}
    <div class="d-flex w-full">
      {%for field in row.fields%} {%if field.input_type == 'select'%}
      <div class="form-group">
        <label>{{field.title}}</label>
        <select name="cars" id="cars" class="form-control">
          {%for choice in field.choices%}
          <option value="{{choice}}">{{choice}}</option>
          {%endfor%}
        </select>
      </div>
      {%else%}
      <div class="form-group">
        <label>{{field.title}}</label>
        <input type="{{field.input_type}}" class="form-control w-100" />
      </div>
      {%endif%} {%endfor%}
    </div>
    {%endfor%}
  </div>
  {%endfor%}
</div>
{%endblock%}
