{%extends 'dashboard/base.html'%} {%block context%}

    
<div class="row content-wrapper">
    <div class="col-md ml-6 m-2 card ">
        <div class="rounded border mt-1 p-3 d-flex justify-content-between">
            <label>Form Builder</label>
            <button class="btn btn-success btn-sm">Save</button>
        </div>
        {%for section in form.sections%}
        <div class="card collapsed-card mt-1">
            <div class="card-header">
              <h3 class="card-title">Section: {{section.title}}</h3>
              <div class="card-tools">
                <input type="text" name="oder" id="section-{{section.position}}" value="{{section.position}}" onchange="swapSections(this)"/>
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
              </div>
            </div>
            <div class="card-body">
            <ul class="list-group">
                
             {%for row in section.rows%}
             <li class="list-group-item bg-primary mt-2 rounded">
                <span>Row: {{row.position}}</span>
                 <button class="btn btn-sm "><i class="nav-icon fas fa-edit"></i></button>             
                 <button class="btn btn-sm "><i class="nav-icon fas fa-trash"></i></button>      
                 <button class="btn btn-sm "><i class="nav-icon fas fa-plus"></i></button>      
                {%for field in row.fields%}
                    <li class="list-group-item d-flex justify-content-between"><span>{{field.title}}</span> <button  class="btn btn-sm" data-toggle="modal" data-target="#modal-xl-{{field.id}}"><i class="nav-icon fas fa-edit"></i></button></li>
                    <div class="modal fade" id="modal-xl-{{field.id}}">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    </div>
                                    </div>
                        </div>  
                    </div>
                    {%endfor%}
             </li>
             {%endfor%}
             
            
             </ul>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        {%endfor%}
        <button class="btn btn-primary">+ Add Section</button>
    </div>
    <div class="col-md m-2 card p-4 h-100 overflow-scroll" >
       <div class="d-flex justify-content-between">
        <h5>
            {{form.title}} 
        </h5>
      <span>
        <a href="{%url 'public_form_view' id=form.id%}"><i class="fa fa-eye m-1"></i></a>
        <a href="{%url 'data_import_view' id=form.id%}"><i class="fa fa-save m-1"></i></a>
      </span>
       </div>
  <form method="POST" action="{%url 'mentor_contact_record_form_view' id=1%}" >
    {%csrf_token%}
  {%for section in form.sections%}
  <div class="rounded border mt-1 p-3 bg-">
    {{section.title}}
    <hr/>
    {%for row in section.rows%}
    <div class="row d-flex flex-wrap">
      {%for field in row.fields%} {%if field.input_type == 'select'%} 
      <div class="form-group col-md">
          <label>{{field.title}}</label>
          <select name="{{field.input_name}}" id="cars" class="form-control" required>
            {%for choice in field.choices%}
            {%for c in choice%}
            <option value="{{c}}">{{c}}</option>
            {%endfor%}
            {%endfor%}
          </select>
        </div>
        {% elif field.input_type == 'checkbox' %}
        <div class="form-group col-md">
            <label>{{field.title}}</label>
            <div class="row">
            {%for choice in field.choices%}
                {%for ch in choice%}
                <div class="col-md-3"> 
                    <input class type="checkbox" id="coding" name="{{field.input_name}}" value="{{ch}}"/>
                    <span>{{ch}}</span>
                    </div>
                {%endfor%}
            {%endfor%}
            </div>
                </div>
        {%else%}       
        <div class="form-group col-md">
            <label>{{field.title}}</label>
            <input type="{{field.input_type}}" name="{{field.input_name}}"  placeholder="{{field.placeholder}}" class="form-control w-100" required/>
          </div>
          {%endif%} {%endfor%}
        </div>
        {%endfor%}
      </div>
      {%endfor%}
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </form>
</div>
</div>
<script>
  
</script>
{%endblock%}
