{%extends 'dashboard/base.html'%} {%load static%} {%block context%}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <form method="GET" class="col-sm-6">
          <div class="row">
            <div class="col input-group input-group-sm">
              <input
                type="date"
                value="{{from_date}}"
                name="from_date"
                class="form-control"
                required
              />
            </div>
            <div class="col input-group input-group-sm">
              <input
                type="date"
                value="{{to_date}}"
                name="to_date"
                class="form-control"
                required
              />
            </div>

            <div class="col input-group input-group-sm">
              <button class="btn btn-sm btn-secondary">
                <i class="fas fa-redo"></i>
              </button>
            </div>
          </div>
        </form>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->

      <div class="row">
        <div class="col-lg col-md col-xs col-sm-12">
          <div class="info-box">
            <span class="info-box-icon bg-success elevation-1"
              ><i class="fas fa-circle"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text">Total Mentoring Sessions</span>
              <span class="info-box-number"> {{mentoring_session}} </span>
            </div>
          </div>
        </div>
        {%for response in select_field_responses%}
        <div class="col-lg col-md col-xs col-sm-12">
          <div class="info-box">
            <span class="info-box-icon bg-{{response.color}} elevation-1"
              ><i class="fas fa-circle"></i
            ></span>
            <div class="info-box-content">
              <span class="info-box-text">{{response.field}}s</span>
              <span class="info-box-number"> {{response.count}} </span>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <br />
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body"><div id="chart-daily"></div></div>
          </div>
          <div class="card">
            <div class="card-body"><div id="chart-monthly"></div></div>
          </div>
          <div class="card">
            <div class="card-body"><div id="chart-quarterly"></div></div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body"><div id="chart-weekly"></div></div>
          </div>

          <div class="card">
            <div class="card-body"><div id="chart-yearly"></div></div>
          </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong
    >Copyright &copy; 2014-2021
    <a href="https://adminlte.io">AdminLTE.io</a>.</strong
  >
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.2.0</div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{{submissions|json_script:"submissions"}}
<!-- /.control-sidebar -->
<script>
  const submissions = document.getElementById("submissions").textContent;
  const chartQuarterly = document.getElementById("chart-quarterly");
  const chartDaily = document.getElementById("chart-daily");
  const chartWeekly = document.getElementById("chart-weekly");
  const chartMonthly = document.getElementById("chart-monthly");
  const chartYearly = document.getElementById("chart-yearly");
  new ApexCharts(chartWeekly, {
    chart: {
      height: 280,
      type: "area",
    },
    title: {
      text: "Weekly Mentoring Flow",
      align: "center",
    },
    dataLabels: {
      enabled: false,
    },
    series: [
      {
        name: "Mentored: {{option.option.key}}",
        data: JSON.parse(submissions).weekly.x_axis,
      },
    ],

    fill: {
      type: "gradient",
      gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.7,
        opacityTo: 0.9,
        stops: [0, 90, 100],
      },
    },
    xaxis: {
      categories: JSON.parse(submissions).weekly.y_axis,
    },
  }).render();
  new ApexCharts(chartDaily, {
    chart: {
      height: 280,
      type: "area",
    },
    title: {
      text: "Daily Mentoring Flow",
      align: "center",
    },
    dataLabels: {
      enabled: false,
    },
    series: [
      {
        data: JSON.parse(submissions).daily_time_series.map((series) => ({
          x: new Date(series.x).getTime(),
          y: series.y,
        })),
      },
    ],
    colors: ["#e84109"],
    fill: {
      type: "gradient",
      gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.7,
        opacityTo: 0.9,
        stops: [0, 90, 100],
      },
    },
    xaxis: {
      type: "datetime",
    },
  }).render();

  new ApexCharts(chartQuarterly, {
    chart: {
      height: 280,
      type: "bar",
    },
    title: {
      text: "Quarterly Mentoring Sessions",
      align: "center",
    },
    dataLabels: {
      enabled: false,
    },
    series: [
      {
        name: "Mentored: {{option.option.key}}",
        data: JSON.parse(submissions).quarterly.x_axis,
      },
    ],
    colors: ["#3bcf9d", "#e05b72", "#14a8ff"],

    xaxis: {
      categories: JSON.parse(submissions).quarterly.y_axis,
    },
  }).render();

  new ApexCharts(chartMonthly, {
    chart: {
      height: 280,
      type: "bar",
    },
    title: {
      text: "Monthly Mentoring Sessions",
      align: "center",
    },
    dataLabels: {
      enabled: false,
    },
    series: [
      {
        name: "Mentored: {{option.option.key}}",
        data: JSON.parse(submissions).monthly.x_axis,
      },
    ],
    colors: ["#f7a521", "#3bcf9d", "#e05b72", "#14a8ff"],

    xaxis: {
      categories: JSON.parse(submissions).monthly.y_axis,
    },
  }).render();

  new ApexCharts(chartYearly, {
    series: JSON.parse(submissions).yearly.x_axis,
    chart: {
      width: 525,
      height: 280,
      type: "pie",
    },
    title: {
      text: "Yearly Mentoring Sessions",
      align: "center",
    },
    labels: JSON.parse(submissions).yearly.y_axis,
    responsive: [
      {
        breakpoint: 480,
        options: {
          chart: {
            width: 200,
            height: 280,
          },
          legend: {
            position: "bottom",
          },
        },
      },
    ],
  }).render();
  const fireAlert = (message) => {
    Swal.fire({
      title: "Error!",
      text: message,
      icon: "error",
      confirmButtonText: "Cool",
    });
  };
</script>
{%endblock%}
